.appContainer {
  margin: 0 auto;
  padding: var(--j-space-800);
  width: 100%;
  max-width: 800px;
}

.answer {
  display: flex;
  align-items: center;
  margin-bottom: var(--j-space-400);
}

.index {
  width: var(--j-size-md);
  height: var(--j-size-md);
  border-radius: var(--j-border-radius);
  margin-right: var(--j-space-400);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.titleInput {
  width: 100%;
  font-size: var(--j-font-size-700);
  height: var(--j-size-xl);
  padding: 0;
  color: var(--j-color-black);
  background: transparent;
  border: 0;
}

.titleInput::placeholder {
  color: var(--j-color-ui-400);
}

.titleInput:focus {
  outline: 0;
}

.titleDescription {
  width: 100%;
  font-size: var(--j-font-size-400);
  height: var(--j-size-xl);
  padding: 0;
  color: var(--j-color-black);
  background: transparent;
  border: 0;
}

.doneTodo {
  text-decoration: line-through;
} */
